
#tv {
    position: relative;
    height: 220px;
    top:10px;
    left: 25px;
}
#lucy {
    position: relative;
    height: 165px;
    top: 0;
    left: -271px;
    z-index: -1;
}
body {
    background-color: lightblue;
    -webkit-animation:change 2s infinite; /* Safari 4.0 - 8.0 */
    animation:change 2s infinite;    
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes change {
    from {background-color: lightblue;}
    to {background-color: lightseagreen;}
}

/* Standard syntax */
@keyframes change {
    from {background-color: lightblue;}
    to {background-color: lightseagreen;}
}